{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="/" style="font-size: 28px"><strong>Cari</strong> Makanan</a>
  <form class="form-inline my-3" action="/search", method="GET">
    {{form.keyword(class_="form-control form-control-lg mr-2 shadow-sm", style="width: 400px;", value=keyword)}}
    <button class="btn btn-primary btn-lg shadow-sm" type="submit">Cari</button>
  </form>
</nav>
{% endblock %}

{% block content %}

  {% if not data %}
    <div class="search-item">
      <span style="font-size: 18px;">Maaf, kami tidak dapat menemukan apa yang anda cari</span>
    </div>
  {% else %}

    {% for i in range(start, end) %}
      <div class="search-item">
        <h3 class="si-title"><a href="{{data[i][3]}}">{{data[i][1]}}</a></h3>
        <span class="si-link">{{data[i][3]}}</span>
        <div class="desc">{{data[i][2][:300]}}</div>
      </div>
    {% endfor %}

  {% endif %}
  
  {% if data %}
    <nav class="search-pagination" aria-label="Page navigation">
      <ul class="pagination">
        {% if page != 1 %}
          <li class="page-item">
            <a class="page-link" href="/search?keyword={{keyword}}&page={{page - 1}}">Previous</a>
          </li>
        {% endif %}
        {% for i in range(1, total+1) %}
          {% if page == i %}
            <li class="page-item active">
              <a class="page-link" href="/search?keyword={{keyword}}&page={{i}}">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="/search?keyword={{keyword}}&page={{i}}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page != total %}
          <li class="page-item">
            <a class="page-link" href="/search?keyword={{keyword}}&page={{page + 1}}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    
  {% endif %}

  {% endblock %}
